.ranking-section {
  background-color: #151515;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-y: auto;
}

.ranking-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70vw;
}

.player-infos {
  background-color: #2b2727;
  border-radius: 8px;
  cursor: pointer;
  margin: 15px 0;
  transition: all ease 0.4s;
  width: 40vw;
}

.player-infos:hover {
  box-shadow: 1px 1px 15px black;
}

.player-score {
  text-shadow: 2px 2px 10px black;
}

.btn-go-home {
  background-color: #533d98;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
  transition: all ease 0.3s;
}

.btn-go-home:hover {
  box-shadow: 1px 1px 15px black;
}
